@import url('https://fonts.googleapis.com/css?family=Quicksand');

.ui#content{
    padding-top: 100px;
}

#about-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #b2765d;
}

#contact-us {
    text-align: center;
}
