@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Impact');

/* formatting the navbar */
#navbar {
  background: #a9d9daff;
  height: 75px;
}

.ui.menu .item {
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  padding-right: 13px;
  padding-left: 13px;
}

#brand {
  font-size: 40px;
  font-family: 'Impact', sans-serif;
  font-weight: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

/* formatting the background */
body {
  background-color: #f9eccbff;
}

/* formatting the title */
#title-head {
  text-align:center;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #b2765d;
}

.ui#content{
  padding-top: 100px;
}

/*create variables*/
:root{
    --height: 60px;
}

div.circle-avatar{
	/* make it responsive */
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	/* div height to be the same as width*/
	padding-top:100%;

	/* make it a circle */
	border-radius:50%;

	/* Centering on image`s center*/
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;


	/* it makes the clue thing, takes smaller dimension to fill div */
	background-size: cover;

	/* it is optional, for making this div centered in parent*/
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.large-profile-container {
	padding: 0 35%;
}
