@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Impact');

/* formatting the navbar */
#navbar {
  background: #a9d9daff;
  height: 75px;
}

.ui.menu .item {
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  padding-right: 13px;
  padding-left: 13px;
}

#brand {
  font-size: 40px;
  font-family: 'Impact', sans-serif;
  font-weight: 10px;
  padding-right: 20px; 
  padding-left: 20px; 
}

/* formatting the background */
body {
  background-color: #f9eccbff;
}

/* formatting the title */
#title-head {
  text-align:center;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #b2765d;
}

.ui#content{
  padding-top: 100px;
}

/*create variables*/
:root{
    --height: 60px; 
}