<!DOCTYPE html>
<html>
  <head>
    <title> Boba Run </title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <link rel="stylesheet" href = "/static/css/about.css">
    <link rel="stylesheet" href = "/static/css/style.css">
  </head>
  <body>
    <div class="ui fixed stackable inverted menu" id = "navbar"> </div>
    <div id="content" class="ui container">
      <h1 id = "title-head"> About Us </h1> 
      <p id = "about-text"> This is about us. This is about us. This is about us. This is about us. </p>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/about.js"></script>
</html>
