<!DOCTYPE html>
<html>
  <head>
    <title> Boba Run </title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <link rel="stylesheet" href = "/static/css/add.css">
  </head>
  <body>
    <div class="ui stackable inverted teal massive menu" id = "navbar">    </div>
    <h1 id = "bigname"> Add Store/Event </h1>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/add.js"></script>
</html>
