<!DOCTYPE html>
<html>
  <head>
    <title> Boba Run </title>
    <link rel="stylesheet" type="text/css" href="../../public/semantic/semantic.min.css">
    <link rel="stylesheet" href = "../../public/css/home.css">
  </head>
  <body>
    <div class="ui stackable inverted teal massive menu" id = "navbar">
      <div class = "item">
        LOGO HERE
      </div>
      <div class="header item">
        BOBA RUN
      </div>
    </div>
    <h1 id = "bigname"> BobaRun </h1>
    <div class= "search-bar">
      <input id="search-content" type="text" placeholder="search">
      <button id="search-btn"> Search </button>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../../public/semantic/semantic.min.js"></script>
  <script src="../../public/js/navbar.js"></script>
  <script src="../../public/js/home.js"></script>
</html>
