<!DOCTYPE html>
<html>
  <head>
    <title> Boba Run </title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <link rel="stylesheet" href = "/static/css/home.css">
    <link rel="stylesheet" href = "/static/css/style.css">
  </head>
  <body>
    <div class="ui fixed stackable inverted menu" id = "navbar"> </div>
    <div class="flex-center-vertically">
      <h1 id = "title"> Boba Run </h1>
      <p id = "description"> This is the section where we describe what this website it is about. </p>
      <div class="item" id = "search-item">
        <div class="ui icon input">
          <input class = "search-text" type="text" placeholder="Search for boba...">
          <i class="search link icon">  </i>
        </div>
      </div>
      <div class= "search-bar">
        <input id="search-content" type="text" placeholder="search">
        <button id="search-btn"> Search </button>
      </div>
    </div>
    
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/home.js"></script>
</html>
