<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
            width: 100%;
            float: right;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <link rel="stylesheet" href="/static/css/maps.css">
</head>
<body>

    <div class="ui grid container" style="height:100%; width:100%; position: relative;">
        <div class="two column row">
            <div class="six wide column">
                <div class= "ui search">
                    <input id="search-content" type="text" placeholder="search">
                    <button id="search-btn"> Search </button>
                  </div>
                <div id="store-content" class="ui container" style="display:none;">
                    <p id="name"><strong>Store Name:</strong></p>
                    <p id="address"><strong>Address:</strong></p>
                    <p id="rating"><strong>Rating:</strong></p>
                    <p id="status"><strong>Status:</strong></p>
                    <p id="drink"><strong>Last Ordered Drink:</strong></p>
                </div>
            </div>
            <div class="ten wide column">
                <div id="map"></div>
                <button class="circular ui icon button" id="add-btn">
                    <i class="icon plus"></i>
                </button>
            </div>
        </div>

        <div class="ui small modal">
            <div class="content">
                <form class="ui form">
                    <div class="field">
                        <label>Name of Boba Shop</label>
                        <input id="shop-name" type="text" name="shop-name" placeholder="enter name here">
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input id="shop-address" type="text" name="shop-address" placeholder="enter address here">
                    </div>
                    <div class="field">
                        <label>Zip code</label>
                        <input id="shop-zip" type="text" name="shop-code" placeholder="enter zip code here">
                    </div>
                    <div class="actions">
                        <div class="ui approve button">Submit</div>
                        <div class="ui cancel button">Cancel</div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb-pivVtwhFSaw2ZXL4nadsUlJdygH3UI&callback=initMap"
            async defer></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/static/semantic/semantic.min.js"></script>
    <script src="/static/js/map.js"></script>
</body>
</html>
